.default {
    background-color: var(--background-color);
    color: var(--neon-blue);
    text-shadow: var(--neon-blue-shadow);
    font-family: 'Noto Sans', sans-serif;
}

.nav-col-div {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.content-col {
    padding-top: 128px;
    display: flex;
    justify-content:center;
    margin-right: 128px;
    flex-direction: column;
}

@media (max-width: 1199.98px) {
    .nav-col-div {
        height: 48px;
    }

    .nav-col {
        position: fixed !important;
        z-index: 100;
        background-color: var(--background-color);
    }
    
    .content-col {
        padding-top: 72px;
        margin-right: auto;
    }
}

h1, h2, h3, p {
}